<a class="nav__button button" href="/"><img src="img/back.svg" width="24" height="24" class="nav__button__img" alt="<"
                                            title="Go Back"></a>
<header class="header">
    <img class="header__logo" width="548" height="412" src="img/logo-text.svg" alt="Questionable Research Labs Logo"
         aria-label="Questionable Research Labs Logo" title="Questionable Research Labs">
</header>
<main class="main">
    <div class="attendance">
        <h1 class="attendance__title">Attendance Registry</h1>
        <p class="attendance__message">The following is a list of today's attendance</p>
        <form action="/attending" method="GET" class="attendance__date__form" id="dateForm">
            <label class="input__label attendance__date__label">Date
                <input name="date" type="date" class="input attendance__date__input" placeholder=""
                       value="{{date}}" id="attendanceDate">
            </label>
        </form>
        <div class="attendance__list">
            {{#each data}}
                <div class="attendance__list__item">
                    {{#if guest}}
                        <p class="attendance__list__item__guest">Guest</p>
                    {{/if}}
                    <p class="attendance__list__item__name">{{name}}</p>
                    <p class="attendance__list__item__time">{{time}}</p>
                    <div class="attendance__list__item__buttons">
                        <button class="attendance__list__item__buttons__button button" title="Delete this record"
                                data-name="{{name}}"><img
                                aria-roledescription="Deletes the corresponding attendance record"
                                src="img/delete.svg" alt="X" width="24" height="24"></button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>
<script>
    document.getElementById('attendanceDate').onchange = function () {
        document.getElementById('dateForm').submit();
    }
</script>