<a class="nav__button button" href="/attending"><img src="img/manage.svg" width="24" height="24"
                                                     class="attending__button__img" alt="M" title="View Attendance"></a>
<header class="header">
    <img class="header__logo" width="548" height="412" src="img/logo-text.svg" alt="Questionable Research Labs Logo"
         aria-label="Questionable Research Labs Logo" title="Questionable Research Labs">
</header>
<main class="main">
    <div class="cache-indicator cache-indicator--hidden" id="cacheIndicator">Cached</div>
    <div class="member-types" id="types">
        <p class="header__message">Welcome to Questionable Research Labs, Please Sign In
            using the form below</p>
        <div class="member-types__list">
            <a class="member-types__type" href="#guest" title="I am new!">
                <p>I am a<span>Guest</span></p>
            </a>
            <a class="member-types__type" href="#member" title="Im signed up!">
                <p>I am a<span>Member</span></p>
            </a>
        </div>
    </div>
    <div class="sign-pages sign-pages--hidden" id="pages">
        <button class="button" id="signBack">Back</button>
        <div class="sign-pages__page sign-pages__page--hidden" page-id="guest">
            <p class="sign-pages__page__message">Welcome, please enter your full name</p>
            <label class="input__label">Full Name
                <input type="text" class="input" placeholder="" id="guestName" minlength="1" tabindex="1">
            </label>
            <button id="guestSubmit" class="button" tabindex="2" disabled>Done</button>
        </div>
        <div class="sign-pages__page sign-pages__page--hidden" page-id="member">
            <p class="sign-pages__page__message">Welcome, please enter your name and select it from the list</p>
            <label class="input__label">Name
                <input type="text" class="input" placeholder="" id="memberName" minlength="1" tabindex="3">
            </label>
            <button id="memberSubmit" class="button" disabled>Done</button>
            <div class="members__list" id="membersList" tabindex="4">

            </div>
        </div>
    </div>
</main>