<a class="nav__button button" href="/attending"><img src="img/manage.svg" class="attending__button__img" alt="M"></a>
<header class="header">
    <img class="header__logo" src="img/logo-text.svg" alt="Questionable Research Labs Logo"
         aria-label="Questionable Research Labs Logo" title="Questionable Research Labs">
</header>
<main class="main">
    <div class="member-types" id="types">
        <p class="header__message">Welcome to Questionable Research Labs, Please <span class="text-pop">Sign In</span>
            using the form below</p>
        <div class="member-types__list">
            <a class="member-types__type" href="#guest" title="I am new!">
                <p>I am a<span class="text-pop">Guest</span></p>
            </a>
            <a class="member-types__type" href="#member" title="Im signed up!">
                <p>I am a<span class="text-pop">Member</span></p>
            </a>
        </div>
    </div>
    <div class="sign-pages sign-pages--hidden" id="pages">
        <button class="button" id="signBack">Back</button>
        <div class="sign-pages__page sign-pages__page--hidden" page-id="guest">
            <p class="sign-pages__page__message">Welcome, please enter your full name</p>
            <label class="input__label">Full Name
                <input type="text" class="input" placeholder="" id="guestName" minlength="1" tabindex="1">
            </label>
            <button id="guestSubmit" class="button" tabindex="2">Done</button>
        </div>
        <div class="sign-pages__page sign-pages__page--hidden" page-id="member">
            <p class="sign-pages__page__message">Welcome, please enter your name and select it from the list</p>
            <label class="input__label">Name
                <input type="text" class="input" placeholder="" id="memberName" minlength="1" tabindex="3">
            </label>
            <button id="memberSubmit" class="button" disabled>Done</button>
            <div class="members__list" id="membersList" tabindex="4">

            </div>
        </div>
    </div>
</main>
<div class="loader__wrapper" id="loader">
    <div class="loader">
        <div class="loader__body">
            <span class="loader__circle"></span>
            <span class="loader__circle"></span>
            <span class="loader__circle"></span>
        </div>
        <p class="loader__text" id="loaderText">Loading...</p>
    </div>
</div>
<div class="toast toast--hidden" id="toast">
    <p class="toast__text" id="toastText">Successfully marked attendance for Unknown</p>
    <button class="toast__undo" id="toastUndo">Undo</button>
</div>
